# Derlenmiş binary
parser
test_out

# Bison/Flex 
# src/parser.tab.c
# src/parser.tab.h
# src/lex.yy.c

# Assembly 
output.s

# Geçici test 
test_global.sh
run_runtime_tests.sh

# OS
.DS_Store
Thumbs.db
